# Maven / build output
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Other IDEs
.gigaide/
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# macOS
.DS_Store

# Environment / secrets
.env
*.env